.form-control{
    border-radius: 0.375rem !important;
}

table { border-collapse: collapse;}
th, td { border: solid 1px; padding: 0 }
td:first-child { width: 15%  }
td:first-child + td {  width: 10% }
td:first-child + td + td {  width: 10% }
td:first-child + td + td {  width: 10% }
td:first-child + td + td {  width: 45% }
td:first-child + td + td {  width:  10% }