{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="p-3">
                <a class="d-block text-center mt-2 small float-start" href="{{ url_for('logout')}}">Sair</a>
                <div class="input-group mb-3 d-flex justify-content-end">
                    <form method="POST" action="{{url_for('busca')}}" class="input-group w-25">
                    <input type="search" class="form-control  w-25" placeholder="Pesquisar por item" name="search" aria-label="Pesquisar por item" aria-describedby="basic-addon2" autocomplete="off">
                    <div class="input-group-append">
                      <button class="btn btn-success ms-1" type="submit">Buscar</button>
                    </div>
                </form>
                </div>
                <h2>Gerenciar <strong>itens</strong>
                   
                    <button type="button" class="btn btn-success float-end" data-bs-toggle="modal"
                    data-bs-target="#add_item_Modal">Adcionar
                        item</button>
                </h2>

                
                <div class="border-top my-2"></div>

                <div class="container w-100">

                    {% with messages=get_flashed_messages(with_categories=true) %}
                    {%if messages%}
                    {%for category, message in messages%}
                    <div class="alert alert-success">
                        {{message}}
                        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                    {%endfor%}
                    {%endif%}
                    {%endwith%}
                </div>



                <table class="table table-hover table-dark">

                    <tr>                        
                        <th>Cadastrado por:</th>
                        <th>Situação</th>
                        <th>Item</th>
                        <th>Codigo-Item</th>
                        <th>Descrição</th>
                        <th>Ação</th>
                    </tr>


                    {% for row in itens.items %}
                    <tr>                      
                        <td>{{row.user_username}}</td>
                        <td>{{row.situação}}</td>
                        <td>{{row.item}}</td>
                        <td>{{row.codigo_item}}</td> 
                        <td>{{row.descrição}}</td> 
                        <td>
                            <a href="update/{{row.id}}" class="editItem btn btn-warning btn-xs" data-bs-toggle="modal"
                                data-bs-target="#edit_item_Modal{{row.id}}"><img
                                    src="{{url_for('static', filename='images/pencil-fill.svg')}}" alt=""></a>
                            <a href="delete/{{row.id}}" class="btn btn-danger btn-xs"
                                onclick="return confirm('Tem certeza que quer deletar este item ?')"><img
                                    src="{{url_for('static', filename='images/trash3-fill.svg')}}" alt=""></a>
                        </td>
                    </tr>




               {% include 'edit_modal.html' %}
                    {% endfor %}
                </table>
                {% include 'add_modal.html' %}

                {% for page_num in itens.iter_pages(left_edge=1, right_edge=1,
                    left_current=1, right_current=2) %} {% if page_num %} {% if itens.page ==
                    page_num %}
                    <a
                      class="btn btn-dark mb-4"
                      href="{{ url_for('index', page=page_num) }}"
                      >{{ page_num }}</a
                    >
                    {% else %}
                    <a
                      class="btn btn-outline-dark mb-4"
                      href="{{ url_for('index', page=page_num) }}"
                      >{{ page_num }}</a
                    >
                    {% endif %} {% else %} ... {% endif %} {% endfor %}
                <!-- Adcionar Item Modal -->


                <!-- /Adcionar Item Modal -->
            </div>
        </div>
    </div>
</div>

{% endblock %}