{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="p-3">
                <div class="input-group mb-3 d-flex justify-content-end">
                    <form method="POST" action="{{url_for('busca')}}" class="input-group w-50">
                    <input type="search" class="form-control  w-25" placeholder="Pesquisar por item" name="search" aria-label="Pesquisar por item" aria-describedby="basic-addon2" autocomplete="off">
                    <div class="input-group-append">
                      <button class="btn btn-success ms-1" type="submit">Buscar</button>
                      <a href="{{url_for('index')}}" type="button" class="btn btn-success ms-2">Listar todos</a>
                    </div>
                    
                </form>
                </div>

                
                <h2>Gerenciar <strong>itens</strong>
                   
                    <button type="button" class="btn btn-success float-end" onclick="open_add_item_modal()">Adcionar
                        item</button>                  

                </h2>

                <div class="border-top my-2"></div>

                <table class="table table-hover table-dark">
                  
                {% for row in busca %}
                <tr>
                    <th>Situação</th>
                    <th>Descrição</th>
                    <th>Item</th>
                    <th>Codigo-Item</th>
                    <th>Ação</th>
                </tr>
                <tr>
                    <td>{{row.situação}}</td>
                    <td>{{row.descrição}}</td>
                    <td>{{row.item}}</td>
                    <td>{{row.codigo_item}}</td>
                    <td>
                        <a href="update/{{row.id}}" class="editItem btn btn-warning btn-xs" data-bs-toggle="modal"
                            data-bs-target="#edit_item_Modal{{row.id}}"><img
                                src="{{url_for('static', filename='images/pencil-fill.svg')}}" alt=""></a>
                        <a href="delete/{{row.id}}" class="btn btn-danger btn-xs"
                            onclick="return confirm('Tem certeza que quer deletar este item ?')"><img
                                src="{{url_for('static', filename='images/trash3-fill.svg')}}" alt=""></a>
                    </td>
                </tr>
                {% include 'edit_modal.html' %}
                {% endfor %}
                </table>              
                {% include 'add_modal.html' %}
  
            </div>
        </div>
    </div>
</div>

{% endblock %}